<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scatch - Register & Login</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <style>
        /* Custom Styles (if needed) */
    </style>
</head>
<body class="bg-gray-100">
    <%- include('./partials/header') %>

    <% if (error.length > 0) { %>
        <div class="absolute top-5 left-1/2 transform -translate-x-1/2 -translate-y-1/2 p-3 rounded-md bg-red-500">
            <span class="inline-block mt-1 mb-1 text-white">
                <%= error %>
            </span>
        </div>
    <% } %>

    <div class="flex justify-center items-center h-screen px-10">
        <div class="w-full max-w-3xl flex rounded-lg shadow-lg bg-white">
            <div class="w-1/2 p-10">
                <h3 class="text-4xl font-semibold mb-2">Welcome to <span class="text-blue-400">Scatch</span></h3>
                <h4 class="text-2xl mb-5">Create your account</h4>
                <form autocomplete="off" action="/users/register" method="post">
                    <input class="bg-zinc-100 block w-full px-3 py-2 border border-zinc-200 rounded-md mb-3" type="text" placeholder="Full Name" name="fullname" required>
                    <input class="bg-zinc-100 block w-full px-3 py-2 border border-zinc-200 rounded-md mb-3" type="email" placeholder="Email" name="email" required>
                    <input class="bg-zinc-100 block w-full px-3 py-2 border border-zinc-200 rounded-md mb-3" type="password" placeholder="Password" name="password" required>
                    <input class="w-full rounded-full py-3 mt-2 bg-blue-500 text-white hover:bg-blue-600 transition duration-300" type="submit" value="Create My Account">
                </form>
            </div>
            <div class="w-1/2 p-10 border-l border-zinc-200">
                <h4 class="text-2xl capitalize mb-5">Login to your account</h4>
                <form autocomplete="off" action="/users/login" method="post">
                    <input class="bg-zinc-100 block w-full px-3 py-2 border border-zinc-200 rounded-md mb-3" type="email" placeholder="Email" name="email" required>
                    <input class="bg-zinc-100 block w-full px-3 py-2 border border-zinc-200 rounded-md mb-3" type="password" placeholder="Password" name="password" required>
                    <input class="w-full block rounded-full py-3 mt-2 bg-blue-500 text-white hover:bg-blue-600 transition duration-300" type="submit" value="Login">
                </form>
            </div>
        </div>
    </div>

    <%- include('./partials/footer') %>
</body>
</html>
